<section class="hero">
   <div class="front-page">
    <div class="izquierdad">
     <h2 data-aos="fade-down" data-aos-duration="4000"  class="title-front-page">AVC IMPORT <br>& MERCHADISING</h2>
     <div data-aos="fade-down" data-aos-duration="3000" class="text1">
       <p class="direction">PERU-LIMA</p>
       <p class="direction">avcimport2020@gmail.com</p>
     </div>  
     <div data-aos="fade-down" data-aos-duration="3000"  class="hr">
       <hr class="line">
      </div>
     <div data-aos="fade-down" data-aos-duration="3000" class="text-2">
       <p  class="text2">SOMOS UNA EMPRESA DEDICADA A LA VENTA DE ARTICULOS PARA LA Comercialización,  MÁQUINAS E INSUMOS PARA SUBLIMACIÓN.</p>
     </div>  
       <div class="botonn"> 
       <a href="productos" class="boton">SOBRE NOSOTROS</a>
     </div>
    </div>
    <div class="img">
      <img  src="assets/images/image-tienda.png" style="z-index: 2;" class="img-tienda"> 
    </div> 
   </div>
<div class="icons-2" style="z-index: 2;">
</div>
</section>
<article class="action-one">
  <div  class="action-info">
    <img class="fa-solid fa-magnifying-glass" src="assets/images/seach.png">
      <div data-aos="fade-right"  class="action-info-text">
          <h2>BUSCA TU PRODUCTO</h2>
          <p>tenemos grandes catálogos de productos que te pueden gustar</p>
      </div>
  </div>
  <div class="action-info">
      <div data-aos="fade-left" class="action-info-text">
          <h2>ELIGE COMO COMPRARLO</h2>
          <p>AVC te ofrece la oportunidad de contactarte con el vendedor o comprarlo directamente</p>
      </div>
      <img class="fa-solid fa-arrow-pointer" src="assets/images/cursor.png">
  </div>
</article>
 <section data-aos="fade-up" data-aos-duration="4000"  class="categories-home">
  <h2>Encuentra tu producto por <br> nuestras categorias</h2>
  <hr>
  <div data-aos="fade-up" data-aos-duration="4000" class="categories-links">
      <div class="categories-box">            
        <img class="img-productos-prev" src="assets/images/4.jpg" alt="">
          <div class="categories-box-text">           

              <h3>PERSONALIZADOS</h3> 
              <ul>
                  <li>Impreso a todo color con tu diseño o logo</li>
                  <li>promociona tu marca con nuestros novedosos productos </li>
                  <li>obten el diseño que quieras</li>
              </ul>
              <a href=""  routerLink="house" class="categories-box-btn house">Personalizados</a>
          </div>
      </div>
      <div class="categories-box">
        <img class="img-productos-prev" src="assets/images/1-A.png" alt="">
          <div class="categories-box-text">
              <h3>TU PROPIO NEGOCIO</h3> 
              <ul>
                <li>Variedad de maquinas para la sublimacion</li>
                  <li>Tecnologia avanzada</li>
                  <li>Precios en Oferta</li>
                  <li>Garantia Asegurada de 1 año</li>
              </ul>
              <a href="" routerLink="tech" class="categories-box-btn tech">Ver Las Maquinas</a>
          </div>
      </div>
      <div class="categories-box">
        <img class="img-productos-prev" src="assets/images/1-m.png" alt="">
          <div class="categories-box-text">        
              <h3>HAS UN REGALO</h3> 
              <ul>
                  <li>Tazas personalizadas</li>
                  <li>Polos Personalizados</li>
                  <li>Variedad de colores</li>
                  <li>Precios en Oferta</li>
                  <li>Obten tu propio estilo personalizado</li>
              </ul>
              <a href=""  routerLink="pets" class="categories-box-btn pets">Ver Articulos</a>
          </div>
      </div>
      <div class="categories-box">
        <img class="img-productos-prev" src="assets/images/2-A.jpg" alt="">
          <div class="categories-box-text">
              <h3>INSUMOS</h3> 
              <ul>
                  <li>Obten los mejores insumos para tu empresa de sublimacion</li>
                  <li>Tazas, Polos, Gorras, Mause pad etc</li>
                  <li>Precios en Oferta</li>
                  <li>Garantia Asegurada</li>
              </ul>
              <a href=""  routerLink="beauty" class="categories-box-btn beauty">Ver Productos</a>
          </div>
      </div>
  </div>
</section>

