.hero{
    width: 100%;
    height: 100%;
    bottom: 2rem;
  }
  .front-page{
    width: 100%;
    gap: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-bottom: 2rem;
  }
  .izquierdad{
    margin-left: 0rem;
    margin-top: 3.5%;
    margin-bottom: 1.5rem;
    flex-direction: column;
    gap: 1rem;
  }

  .img-tienda{
    display: flex;
    height: 557px;
    width: 493px;
    }
  
  .title-front-page{
  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 155.7%;
    
    letter-spacing: 0.10em;
    text-transform: capitalize;
    font-feature-settings: 'pcap' on, 'kern' off;
    
    color: #104481;
    margin-top: 2rem;
    }
    
  .text1{
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
  
  .direction{
    
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 155.7%;
  letter-spacing: 0.41em;
  color: #5A2100;
  margin-top: 1rem;
  
  }
  .line{
    width: 530px;
    height: 0px;
    border: 1px solid #0a1b3a;
    transform: rotate(-0.01deg);
    margin-top: 1rem;
  }
  
  .text2{
     width: 545px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 36px;
    text-transform: lowercase;
    margin-top: 1rem;
  
  }
  
  .botonn{
    flex-direction: column;
    display: flex;
    width: 200px;
    height: 50px;
    background: linear-gradient(90deg, #091E3A 0%, #2F80ED 50%, #2D9EE0 100%);
    border: #142630;
    border-radius: 38px;
    margin-top: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

    .boton {
      font-size: 18px;
      font-weight: 500;
      color: #f3f4f5;
      text-decoration: none;
      display: flex;
      font-family: 'Poppins';
    }
    
    .fa-solid{
      width: 80px;
    }
    .action-one {
      color: white;
      background: black;
      padding: 30px 50px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    
    /*Contenedores*/
    .action-info {
      display: flex;
      align-items: center; }
    
    .action-icon {
      font-size: 30px;
      color: black;
      padding: 20px;
      border-radius: 50px;
      background: white; }
    
    .action-icon:last-child {
      padding: 20px 25px; }
    
    .action-info-text {
      padding: 20px; }
    
    .action-info-text:first-child {
      text-align: right; }
    
    .action-info-text h2 {
      font-size: 26px;
      font-weight: 700; }
    
    .action-info-text p {
      font-size: 18px;
      padding-top: 5px; }
    
    /*MEDIA QUIERES*/
    @media screen and (max-width: 950px) {
      .action-one {
        flex-direction: column; }
      .action-info {
        flex-direction: column;
        text-align: center;
        margin: 20px 0; }
      .action-info-text p {
        margin-top: 20px; }
      .action-info-text:first-child {
        order: 1;
        text-align: center; } }
    



/*General*/
.categories-home {
  padding: 30px 50px; 
  width: 100%;
}
.categories-home h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  color: #000000; }

.categories-home hr {
  border: 3px solid black;
  width: 300px;
  margin: 20px auto; }

/* Targets */
.categories-links {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: center; 
  justify-content: center;
}

.categories-box {
  width: 220px;
  height: 500px;
  margin: 0 10px;
  background-color: #ECECEC;
  text-align: center;
  display: flex;
  flex-direction: column; }

/* Targets IMG */
.categories-box-img {
  background-color: black;
  background-position: center;
  background-size: cover;
  height: 200px; }

/* Targets TEXT*/
.categories-box-text {
  padding: 20px 0; }

.categories-box-text i {
  font-size: 35px;
  color: black; }

.categories-box-text h3 {
  padding: 10px 0;
  font-size: 22px;
  font-weight: 700; 
}

.categories-box-text ul li {
  margin: 5px 0;
  text-align: center;

}

/* Targets BTN*/
.categories-box-btn {
  margin-top: 10px;
  display: inline-block;
  padding: 10px 30px;
  color: white;
  text-transform: uppercase;
  border-radius: 30px;
  font-weight: 700; }

.categories-box-btn.house {
  background: linear-gradient(90deg, #00F260 0%, #0575E6 100%); }

.categories-box-btn.tech {
  background: linear-gradient(90deg, #C21500 0%, #FFC500 100%); }

.categories-box-btn.pets {
  background: linear-gradient(90deg, #000000 0%, #0F9B0F 100%); }

.categories-box-btn.beauty {
  background: linear-gradient(90deg, #C84E89 0%, #F15F79 100%); }


 /*MEDIA QUIERES (TABLET)*/
@media screen and (max-width: 750px) {
  .categories-home h2 {
    font-size: 40px;
    line-height: 40px; }
  .categories-links {
    grid-template-columns: auto auto; } }

/*MEDIA QUIERES (MOVIL)*/
@media screen and (max-width: 520px) {
  .categories-home h2 {
    font-size: 30px;
    line-height: 30px; }
  .categories-home hr {
    width: 200px;
    border: 1px solid black; }
  .categories-links {
    grid-template-columns: auto; } }
