<section class="hero">
   <div class="front-page">
    <div class="izquierdad">
     <h2 class="title-front-page">AVC Import<br>& Merchandising</h2>
     <div class="text1">
       <p class="direction">PERU-LIMA</p>
       <p class="direction">avcimport2020@gmail.com</p>
     </div>  
       <hr class="line">
     <div class="text-2">
       <p class="text2">SOMOS UNA EMPRESA DEDICADA A LA VENTA DE ARTICULOS PARA LA Comercialización,  MÁQUINAS E INSUMOS PARA SUBLIMACIÓN.</p>
     </div>  
       <div class="botonn"> 
       <a href="productos" class="boton">SOBRE NOSOTROS</a>
     </div>
    </div>
    <div class="img">
      <img src="assets/images/image-tienda.png" style="z-index: 2;" class="img-tienda"> 
    </div> 
   </div>
<div class="icons-2" style="z-index: 2;">
</div>
</section>
<div class="letrero">
  <div class="izq-a"> 
    <img class="icon-a" src="assets/images/seach.png">
    <h1 class="title-a">BUSCA TU PRODUCTO</h1>
    <a class="text-a">tenemos grandes catálogos de productos que te pueden gustar</a>
  </div>
  <div class="dere-b">
    <img class="icon-b" src="assets/images/cursor.png">
    <h1 class="title-a">ELIGE COMO COMPRARLO</h1>
    <a class="text-a">AVC te ofrece la oportunidad de contactarte con el vendedor o comprarlo directamente</a>
  </div>
</div> 
 <section class="categories-home">
  <h2>Encuentra tu producto por <br> nuestras categorias</h2>
  <hr>
  <div class="categories-links">
      <div class="categories-box">
           <img class="img-productos-prev" src="assets/images/4.jpg" alt="">
          <div class="categories-box-text">
              <h3>PERSONALIZADOS</h3> 
              <ul>
                  <li>Impreso a todo color con tu diseño o logo</li>
                  <li>promociona tu marca con nuestros novedosos productos </li>
                  <li>obten el diseño que quieras</li>
              </ul>
              <a href=""  routerLink="house" class="categories-box-btn house">Personalizados</a>
          </div>
      </div>
      <div class="categories-box">
        <img class="img-productos-prev" src="assets/images/1-A.png" alt="">
          <div class="categories-box-text">
              <i class="fa-solid fa-laptop"></i>
              <h3>SE TU PROPIO JEFE</h3> 
              <ul>
                <li>Variedad de maquinas para la sublimacion</li>
                  <li>Tecnologia avanzada</li>
                  <li>Precios en Oferta</li>
                  <li>Garantia Asegurada de 1 año</li>
              </ul>
              <a href="" routerLink="tech" class="categories-box-btn tech">Ver Las Maquinas</a>
          </div>
      </div>
      <div class="categories-box">
        <img class="img-productos-prev" src="assets/images/1-m.png" alt="">
          <div class="categories-box-text">        
              <i class="fa-solid fa-house"></i>
              <h3>HAS UN REGALO</h3> 
              <ul>
                  <li>Tazas personalizadas</li>
                  <li>Polos Personalizados</li>
                  <li>Variedad de colores</li>
                  <li>Precios en Oferta</li>
                  <li>Obten tu propio estilo personalizado</li>
              </ul>
              <a href=""  routerLink="pets" class="categories-box-btn pets">Ver Articulos</a>
          </div>
      </div>
      <div class="categories-box">
        <img class="img-productos-prev" src="assets/images/2-A.jpg" alt="">
          <div class="categories-box-text">
              <i class="fa-solid fa-venus"></i>
              <h3>INSUMOS</h3> 
              <ul>
                  <li>Obten los mejores insumos para tu empresa de sublimacion</li>
                  <li>Tazas, Polos, Gorras, Mause pad etc</li>
                  <li>Precios en Oferta</li>
                  <li>Garantia Asegurada</li>
              </ul>
              <a href=""  routerLink="beauty" class="categories-box-btn beauty">Ver Productos</a>
          </div>
      </div>
  </div>
</section>

