$--second-color: #74AB2C;
$--h2-font: 3.5rem;
$--h3-font: 2.625rem;
$--p-font: 1rem;
$--text-color: #000000;
$--bg-color: #FFFFFF;

.newProduct {
    background-color: white;
    background-repeat: no-repeat;
    justify-content: center;   
    margin-bottom: 2rem;   
    margin-left: 2rem; 
}

.center-text h2{
text-align: center;
font-size:  $--h3-font;
font-weight: 500;
color: $--second-color;
}

.new-content{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, auto));
align-items: center;
gap: 3rem;
text-align: center;
}

.products{
    gap: 5rem;
    display:contents;
    justify-content: center;   
    flex-direction: row;
    align-items: flex-start; 
    background-color: rgb(168, 190, 190);  
    width: 500px;
    align-items: center;
    text-align: center; 
}
.row{
position: relative;
cursor: pointer;
background-color: rgb(255, 255, 255);
box-shadow: 0 2px 10px 2px #00000010;    
}

.row img{
 width: 100%;
 height: 300px;
 margin-bottom: 15px;
}


.row h4{
font-size: 16px;
margin-bottom: 12px;
text-transform: uppercase;
font-weight: 600;
transition: all .50s ease;
}

.row h4:hover{
color: $--second-color;
cursor: pointer;
}

.row h5{
color: $--text-color;
font-size: $--p-font;
font-weight: 400;
margin-bottom: 15px;
}

.row h3{
color: $--second-color;
font-weight: 500;
margin-bottom: 30px;
}

.row .btn-add-cart{
font-size: 16px;
color: $--bg-color;
bottom: 145px;
left: 0;
right: 0;
padding: 10px 40px;
background: #74AB2C;
border-radius: 45px;
border: none;
cursor: pointer;
}