<footer class="footer">
    <div class="footer-container-one">
        <div class="footer-links">
            <div class="footer-links-box">
                <h4>INFORMACIÓN</h4>
                <ul>
                    <li><a href="" routerLink="">Inicio</a></li>
                    <li><a href="" routerLink="nosotros">Sobre nosotros</a></li>
                    <li><a href="" routerLink="shop">Productos IMPORT</a></li>
                    <li><a href="" routerLink="shop">Productos MERCHANDISING</a></li>
                 </ul>
            </div>
            <div class="footer-links-box">
                <h4>POLITICAS</h4>
                <ul>
                    <li><a href="" routerLink="privacy">Politica de privacidad</a></li>
                    <li><a href="" routerLink="shipping">Politica de envio</a></li>
                    <li><a href="" routerLink="refund">Politica de reembolso</a></li>
                </ul>
            </div>
            <div class="footer-links-box">
                <h4>CATEGORIAS</h4>
                <ul>
                    <li><a href="" routerLink="house">Insumos</a></li>
                    <li><a href="" routerLink="tech">Maquinas</a></li>
                    <li><a href="" routerLink="pets">Personalizados</a></li>
                    <li><a href="" routerLink="beauty">Promociona tu marca</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-about">
            <h4>ACERCA DE</h4>
            <h5>AVC Import & Merchandising son dos tiendas de la misma empresa que vende sus productos dentro de todo Peru </h5>
            <p>En esta pagina nuestra tienda utiliza el método de pago que es agregar los productos deseados al carrito para luego dirigirse por via WhatsApp para
                acordar la compra con el respectivo vendedor. Nuestro segundo método compra es dirigirse personalmente a nuestras tiendas. Te invitamos a pasar por nuestra tienda y encontrar tu producto deseado :)</p>
        </div>
    </div>
    <hr class="footer-space">
    <div class="footer-container-two">
        <div class="footer-copyright">
            <h3>Copyright © 2023 All Rights Reserved by AVC Import & Merchandising</h3>
        </div>
        <div class="footer-social">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-whatsapp"></i></a>
        </div>
    </div>
</footer>