<div  data-aos="fade-up" class="about-us-principal">


</div>
<section  class="about-us">
    <div class="about-us-left">
    <youtube-player class="video"
    videoId="Fz7OFlh85hE" 
    [height]="250" 
    [width]="500" 
    [startSeconds]="1"
    [endSeconds]="204">
  </youtube-player>
  </div>
      <div class="about-us-container">
        <h2 class="about-us-title">En AVCIMPORT</h2>
        <p class="about-us-text">
          <i class="fa-solid fa-graduation-cap"></i> LES OFRECEMOS LAS MEJORES MAQUINAS E INSUMOS<br>PARA SUBLIMACIÓN EN PERU con 5 años de experiencia <br>
  
          <i class="fa-solid fa-cart-shopping"></i> HACEMOS ENVÍOS A NIVEL NACIONAL<br>
          
          <i class="fa-solid fa-location-dot"></i>ESTÁMOS UBICADOS EN LA AV. BOLIVIA 148 INT. 2020<br>C.C CENTRO LIMA, CERCADO DE LIMA.<br>
            
          <i class="fa-solid fa-address-card"></i> CONTÁCTANOS: 
          
          <a class="text" target="_blank" href="https://linktr.ee/avcimport">linktr.ee/avcimport</a><br>
        </p>
      </div>
    </section>
  <section class="container-two">
    <div class="contenedor">
          <div class="titulo">
              <div class="shape right-skew">
                  <i class="fas fa-laptop"></i>
                  <h2>Clientes Sastifechos</h2>
              </div>
      </div>
    </div>
   </section>  
   <section class="planes__container">
    <ul class="planes__tarjetas">
        <li class="tarjetas tarjetas--start">
            <h3 class="tarjetas__title">Brindando un servicio <br>óptimo y garantizado <br>para nuestros clientes</h3>
            <a class="tarjetas__contenido">
               <img  class="tarjetas__precio" src="assets/images/img1.webp" alt="">
            </a>
        </li>
        <li class="tarjetas tarjetas--mega">
            <h3 class="tarjetas__title">te enseñamos <br>a sublimar </h3>
            <a class="tarjetas__contenido">
              <img  class="tarjetas__precio" src="assets/images/img2.webp" alt="">
              <div class="tar__texto"><p class="tarjetas__texto">Con tu primera compra obtendras una guia de como usar el equipo adquirido</p></div>
                <a href="productos" class="tarjetas__boton tarjetas__boton--mega boton">has tu compra</a>
            </a>
        <li class="tarjetas tarjetas--ultra">
            <h3 class="tarjetas__title">Certificado de garantia<br> de un año</h3>
            <a class="tarjetas__contenido">
              <img  class="tarjetas__precio" src="assets/images/img3.webp" alt="">
            </a>
        </li>
    </ul>